@font-face {
    font-family: FiraSans;
    src: url(Fira_Sans/FiraSans-Regular.ttf);
}

body {
    background-color: white;
    color: #4d4d4d;
    font-family: 'FiraSans';
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: 2em;
    text-align: center;
    height: 100px;
}